body{
    zoom: 200%;
}
section{
    display:flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

section form{
    border:1px solid black;
    padding:10px;
    width:200px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}

section form input, select{
    width:70px;
    margin:5px;
    margin-top:0px;
}

section form div button{
    text-align: center;
    margin-top:10px;
}

section form div{
    display: flex;
    flex-direction: column;
}