@charset "UTF-8";
@media (max-width: 425px) {
  .col-md-11 > .row > .col-md-9 > h1 {
    color: red;
    background-color: greenyellow;
  }
}
body {
  background-color: black !important;
}
body .row {
  height: 16vh;
}
body .row .col-md-1 img {
  width: 100%;
  margin-left: 27px;
}
body .row .col-md-11 .row .col-md-9 h1 {
  font-size: 30px;
  color: #00C2FF;
  text-align: center;
  margin-left: 12rem;
  text-decoration: underline;
  font-family: "Inter", sans-serif;
}
body .row .col-md-11 .row .col-md-9 h1:hover {
  color: #fff;
  font-size: 40px;
  rotate: 180deg;
}
body .row .col-md-11 .row .col-md-3 nav ul li {
  list-style: none;
  background-color: white;
  padding: 1rem 0.5rem;
}
body .row .col-md-11 .row .col-md-3 nav ul li a {
  text-decoration: none;
  color: black;
  font-family: "Inter", sans-serif;
}
body .row .col-md-11 .row .col-md-3 nav ul li:hover {
  background-color: #00C2FF;
  rotate: 180deg;
}
body .row .col-md-11 .row .col-md-3 nav ul li:hover a:hover {
  color: white;
}
body #banniere {
  height: 45vh;
}
body #banniere .row #banniere-velo {
  background-image: url(assets/bannière\ Vélo.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  height: 45vh;
}
body #équipe .row {
  height: 100%;
}
body #équipe .row .col-md-12 {
  margin-top: 15px;
}
body #équipe .row .col-md-12 h2 {
  font-size: 30px;
  color: #00C2FF;
  text-align: center;
  text-decoration: underline;
  font-family: "Inter", sans-serif;
}
body #équipe .row .col-md-12 h2:hover {
  color: #fff;
  font-size: 40px;
  rotate: 180deg;
}
body #équipe .row .col-md-12 p {
  color: white;
  font-size: 20px;
  width: 45%;
  text-align: center;
}
body #équipe .row .col-md-12 p #équipe-toute {
  color: #00C2FF;
  text-transform: uppercase;
}
body #équipe .row .col-md-12 p .équipe-sarahmaryse {
  color: #00C2FF;
}
body #équipe .row .col-md-12 p:hover {
  color: #00C2FF;
  font-size: 20px;
  rotate: 180deg;
}
body #équipe #equipe-membre {
  background-color: #00C2FF;
  width: 1384px;
  margin-left: 40px;
}
body #équipe #equipe-membre #equipe-membre-patrone-row-catherine .col-md-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #équipe #equipe-membre #equipe-membre-patrone-row-catherine .col-md-12 .equipe-membre-patrone-row-catherine-image {
  width: 30%;
}
body #équipe #equipe-membre #equipe-membre-patrone-row-catherine .col-md-12 .equipe-membre-patrone-row-catherine-image img {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
}
body #équipe #equipe-membre #equipe-membre-patrone-row-catherine .col-md-12 .equipe-membre-patrone-row-catherine-text {
  display: flex;
  justify-content: center;
}
body #équipe #equipe-membre #equipe-membre-patrone-row-catherine .col-md-12 .equipe-membre-patrone-row-catherine-text p {
  color: black;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
}
body #équipe #equipe-membre #equipe-membre-patrone-row-catherine .equipe-membre-employers {
  display: flex;
  justify-content: center;
  margin: 20px;
}
body #équipe #equipe-membre #equipe-membre-patrone-row-catherine .equipe-membre-employers .col-md-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #équipe #equipe-membre #equipe-membre-patrone-row-catherine .equipe-membre-employers .col-md-3 .equipe-membre-employers-image {
  width: 75%;
}
body #équipe #equipe-membre #equipe-membre-patrone-row-catherine .equipe-membre-employers .col-md-3 .equipe-membre-employers-image img {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
}
body #équipe #equipe-membre #equipe-membre-patrone-row-catherine .equipe-membre-employers .col-md-3 .equipe-membre-employers-text {
  color: black;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  margin-right: 20px;
}
body #vélo .row {
  height: 100%;
}
body #vélo .row .col-md-12 {
  margin-top: 25px;
}
body #vélo .row .col-md-12 h2 {
  font-size: 30px;
  color: #00C2FF;
  text-align: center;
  text-decoration: underline;
  font-family: "Inter", sans-serif;
}
body #vélo .row .col-md-12 h2:hover {
  color: #fff;
  font-size: 40px;
  rotate: 180deg;
}
body #vélo .row .col-md-12 p {
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: center;
}
body #vélo .row .col-md-12 p .maurice-enzo-maryse {
  color: #00C2FF;
}
body #vélo .row .col-md-12 p:hover {
  color: #00C2FF;
  font-size: 20px;
  rotate: 180deg;
}
body #vélo #velo-modele {
  background-color: #00C2FF;
  width: 100%;
  height: auto;
  margin-left: 40px;
}
body #vélo #velo-modele #velo-modele-electrique {
  background-color: #fff;
  width: 448px;
  height: 398px;
  margin-left: 50px;
  margin-top: 150px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
body #vélo #velo-modele #velo-modele-electrique img {
  width: 93%;
  margin-left: 10px;
}
body #vélo #velo-modele #velo-modele-electrique .velo-modele-text p {
  color: black;
  font-size: 25px;
  text-decoration: underline;
  font-family: "Inter", sans-serif;
  margin-top: 20px;
}
body #vélo #velo-modele #velo-modele-traditionnel {
  background-color: #fff;
  width: 448px;
  height: 398px;
  margin-left: 380px;
  margin-top: 150px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
body #vélo #velo-modele #velo-modele-traditionnel img {
  width: 93%;
  margin-left: 10px;
}
body #vélo #velo-modele #velo-modele-traditionnel .velo-modele-text p {
  color: black;
  font-size: 25px;
  text-decoration: underline;
  font-family: "Inter", sans-serif;
  margin-top: 20px;
}
body #histoire .row {
  height: 100%;
}
body #histoire .row .col-md-12 {
  margin-top: 25px;
  margin-bottom: 25px;
}
body #histoire .row .col-md-12 h2 {
  font-size: 30px;
  color: #00C2FF;
  text-align: center;
  text-decoration: underline;
  font-family: "Inter", sans-serif;
}
body #histoire .row .col-md-12 h2:hover {
  color: #fff;
  font-size: 40px;
  rotate: 180deg;
}
body #histoire #histoire-contenu {
  background-color: #00C2FF;
  width: 1384px;
  height: 649px;
  margin-left: 40px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}
body #histoire #histoire-contenu #histoire-text {
  width: 90%;
}
body #histoire #histoire-contenu #histoire-text p {
  color: black;
  font-size: 40px;
  text-align: center;
  line-height: 100px;
  font-family: "Inter", sans-serif;
}
body #histoire #histoire-contenu #histoire-text p strong {
  font-weight: bold;
}
body #histoire #histoire-contenu #histoire-text p:hover {
  color: white;
  font-size: 40px;
  rotate: 180deg;
}
body footer #footer #logo {
  background-color: #00C2FF;
  height: 430px;
}
body footer #footer #logo #logo-gauche {
  width: 250px;
  height: 245px;
  margin-left: 30px;
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
}
body footer #footer #logo #logo-gauche img {
  width: 250px;
  height: 245px;
}
body footer #footer #logo #texte-milieu {
  background-color: #00C2FF;
  height: 100%;
  width: 900px;
}
body footer #footer #logo #texte-milieu h2 {
  text-align: center;
  color: black;
  font-size: 30px;
  text-decoration: underline;
  font-family: "Inter", sans-serif;
  margin-top: 25px;
  margin-bottom: 25px;
}
body footer #footer #logo #texte-milieu h2:hover {
  color: white;
  rotate: 180deg;
}
body footer #footer #logo #texte-milieu p {
  text-align: center;
  color: black;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  line-height: 50px;
}
body footer #footer #logo #texte-milieu p:hover {
  color: white;
  rotate: 180deg;
}
body footer #footer #logo #logo-droit {
  width: 250px;
  height: 245px;
  margin-left: 7px;
  margin-top: 100px;
  display: flex;
  justify-content: flex-end;
}
body footer #footer #logo #logo-droit img {
  width: 250px;
  height: 245px;
}
body footer #footer #logo #Copyright {
  background-color: black;
  height: 50px;
}
body footer #footer #logo #Copyright .col-md-10 p {
  margin-top: 13px;
  margin-left: 480px;
  color: #fff;
  font-family: "Inter", sans-serif;
}
body footer #footer #logo #Copyright .col-md-10 p .Copyright-text-maj {
  text-transform: uppercase;
}
body footer #footer #logo #Copyright .col-md-10 p:hover {
  color: #00C2FF;
  rotate: 180deg;
}
body footer #footer #logo #Copyright .col-md-2 p {
  text-align: center;
  margin-top: 13px;
  margin-left: 40px;
  font-family: "Inter", sans-serif;
}
body footer #footer #logo #Copyright .col-md-2 p a {
  color: #fff;
  text-decoration: none;
}
body footer #footer #logo #Copyright .col-md-2 p:hover {
  color: #00C2FF;
  rotate: 180deg;
}/*# sourceMappingURL=style.css.map */