@media (max-width: 425px) {
    .col-md-11>.row>.col-md-9>h1 {
        color: red;
        background-color: greenyellow;
    }
}



body {
    background-color: black !important;

    .row {
        height: 16vh;

        .col-md-1 {
            img {
                width: 100%;
                margin-left: 27px;
            }
        }

        .col-md-11 {
            .row {
                .col-md-9 {
                    h1 {
                        font-size: 30px;
                        color: #00C2FF;
                        text-align: center;
                        margin-left: 12rem;
                        text-decoration: underline;
                        font-family: 'Inter', sans-serif;
                    }

                    h1:hover {
                        color: #fff;
                        font-size: 40px;
                        rotate: 180deg;
                    }
                }

                .col-md-3 {
                    nav {
                        ul {
                            li {
                                list-style: none;
                                background-color: white;
                                padding: 1rem .5rem;

                                a {
                                    text-decoration: none;
                                    color: black;
                                    font-family: 'Inter', sans-serif;
                                }
                            }

                            li:hover {
                                background-color: #00C2FF;
                                rotate: 180deg;

                                a:hover {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #banniere {
        height: 45vh;

        .row {
            #banniere-velo {
                background-image: url(assets/bannière\ Vélo.jpeg);
                background-position: center;
                background-repeat: no-repeat;
                height: 45vh;
            }
        }
    }

    #équipe {
        .row {
            height: 100%;

            .col-md-12 {
                margin-top: 15px;

                h2 {
                    font-size: 30px;
                    color: #00C2FF;
                    text-align: center;
                    text-decoration: underline;
                    font-family: 'Inter', sans-serif;
                }

                h2:hover {
                    color: #fff;
                    font-size: 40px;
                    rotate: 180deg;
                }

                p {
                    color: white;
                    font-size: 20px;
                    width: 45%;
                    text-align: center;

                    #équipe-toute {
                        color: #00C2FF;
                        text-transform: uppercase;
                    }

                    .équipe-sarahmaryse {
                        color: #00C2FF;
                    }
                }

                p:hover {
                    color: #00C2FF;
                    font-size: 20px;
                    rotate: 180deg;
                }
            }
        }

        #equipe-membre {
            background-color: #00C2FF;
            width: 1384px;
            margin-left: 40px;

            #equipe-membre-patrone-row-catherine {

                .col-md-12 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .equipe-membre-patrone-row-catherine-image {
                        width: 30%;

                        img {
                            width: 100%;
                            max-width: 200px;
                            max-height: 200px;
                        }
                    }

                    .equipe-membre-patrone-row-catherine-text {
                        display: flex;
                        justify-content: center;

                        p {
                            color: black;
                            font-size: 25px;
                            line-height: 30px;
                            text-align: center;
                            font-family: 'Inter', sans-serif;
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                        }
                    }
                }

                .equipe-membre-employers {
                    display: flex;
                    justify-content: center;
                    margin: 20px;

                    .col-md-3 {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .equipe-membre-employers-image {
                            width: 75%;

                            img {
                                width: 100%;
                                max-width: 200px;
                                max-height: 200px;
                            }
                        }

                        .equipe-membre-employers-text {
                            color: black;
                            font-size: 25px;
                            line-height: 30px;
                            text-align: center;
                            font-family: 'Inter', sans-serif;
                            margin-top: 20px;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }


    #vélo {
        .row {
            height: 100%;

            .col-md-12 {
                margin-top: 25px;

                h2 {
                    font-size: 30px;
                    color: #00C2FF;
                    text-align: center;
                    text-decoration: underline;
                    font-family: 'Inter', sans-serif;
                }

                h2:hover {
                    color: #fff;
                    font-size: 40px;
                    rotate: 180deg;
                }

                p {
                    color: white;
                    font-size: 20px;
                    width: 100%;
                    text-align: center;

                    .maurice-enzo-maryse {
                        color: #00C2FF;
                    }
                }

                p:hover {
                    color: #00C2FF;
                    font-size: 20px;
                    rotate: 180deg;
                }
            }
        }

        #velo-modele {
            background-color: #00C2FF;
            width: 100%;
            height: auto;
            margin-left: 40px;

            #velo-modele-electrique {
                background-color: #fff;
                width: 448px;
                height: 398px;
                margin-left: 50px;
                margin-top: 150px;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;

                img {
                    width: 93%;
                    margin-left: 10px;
                }

                .velo-modele-text {
                    p {
                        color: black;
                        font-size: 25px;
                        text-decoration: underline;
                        font-family: 'Inter', sans-serif;
                        margin-top: 20px;
                    }
                }
            }

            #velo-modele-traditionnel {
                background-color: #fff;
                width: 448px;
                height: 398px;
                margin-left: 380px;
                margin-top: 150px;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;

                img {
                    width: 93%;
                    margin-left: 10px;
                }

                .velo-modele-text {
                    p {
                        color: black;
                        font-size: 25px;
                        text-decoration: underline;
                        font-family: 'Inter', sans-serif;
                        margin-top: 20px;
                    }
                }
            }
        }
    }


    #histoire {
        .row {
            height: 100%;

            .col-md-12 {
                margin-top: 25px;
                margin-bottom: 25px;

                h2 {
                    font-size: 30px;
                    color: #00C2FF;
                    text-align: center;
                    text-decoration: underline;
                    font-family: 'Inter', sans-serif;
                }

                h2:hover {
                    color: #fff;
                    font-size: 40px;
                    rotate: 180deg;
                }
            }
        }

        #histoire-contenu {
            background-color: #00C2FF;
            width: 1384px;
            height: 649px;
            margin-left: 40px;
            margin-bottom: 60px;
            display: flex;
            justify-content: center;

            #histoire-text {
                width: 90%;

                p {
                    color: black;
                    font-size: 40px;
                    text-align: center;
                    line-height: 100px;
                    font-family: 'Inter', sans-serif;

                    strong {
                        font-weight: bold;
                    }
                }

                p:hover {
                    color: white;
                    font-size: 40px;
                    rotate: 180deg;
                }
            }
        }
    }


    footer {
        #footer {
            #logo {
                background-color: #00C2FF;
                height: 430px;

                #logo-gauche {
                    width: 250px;
                    height: 245px;
                    margin-left: 30px;
                    margin-top: 100px;
                    display: flex;
                    justify-content: flex-start;

                    img {
                        width: 250px;
                        height: 245px;
                    }
                }

                #texte-milieu {
                    background-color: #00C2FF;
                    height: 100%;
                    width: 900px;

                    h2 {
                        text-align: center;
                        color: black;
                        font-size: 30px;
                        text-decoration: underline;
                        font-family: 'Inter', sans-serif;
                        margin-top: 25px;
                        margin-bottom: 25px;
                    }

                    h2:hover {
                        color: white;
                        rotate: 180deg;
                    }

                    p {
                        text-align: center;
                        color: black;
                        font-size: 30px;
                        font-family: 'Inter', sans-serif;
                        line-height: 50px;
                    }

                    p:hover {
                        color: white;
                        rotate: 180deg;
                    }
                }

                #logo-droit {
                    width: 250px;
                    height: 245px;
                    margin-left: 7px;
                    margin-top: 100px;
                    display: flex;
                    justify-content: flex-end;

                    img {
                        width: 250px;
                        height: 245px;
                    }
                }

                #Copyright {
                    background-color: black;
                    height: 50px;

                    .col-md-10 {
                        p {
                            margin-top: 13px;
                            margin-left: 480px;
                            color: #fff;
                            font-family: 'Inter', sans-serif;

                            .Copyright-text-maj {
                                text-transform: uppercase;
                            }
                        }

                        p:hover {
                            color: #00C2FF;
                            rotate: 180deg;
                        }
                    }

                    .col-md-2 {
                        p {
                            text-align: center;
                            margin-top: 13px;
                            margin-left: 40px;
                            font-family: 'Inter', sans-serif;

                            a {
                                color: #fff;
                                text-decoration: none;
                            }
                        }

                        p:hover {
                            color: #00C2FF;
                            rotate: 180deg;
                        }
                    }
                }
            }
        }
    }
}
