    .TablePanier{
        display: flex;
        flex-direction: column;
        width:100%;
        margin: 100px auto;

        // @media (min-width: 607px)
        // {
        //     min-width: 607px;
        // }
        
        @media (max-width: 630px)
        {
            min-width: 250px;
        }
    


        h1{
            text-align: center;
            color: #032e4e;
            font-weight: 700;
            font-size: 50px;
            line-height: 30px;
        }

        .articles{
            @media (min-width: 607px)
            {
                font-size: 30px;
            }

            @media (max-width: 630px)
            {
                font-size: 20px;
            }
            margin-top:40px;

            table{
                border: 2px solid black;
                margin:0px auto;
                width:70%;
                
                .head{
                    background: lightgrey;
                }

                tr{
                    th{
                        img{
                        width:100px;
                }
            }
        }
            }
        }
    }